@font-face {
  font-family: "Apertura Rg";
  src: url("../assets/fonts/Apertura-Bold.eot");
  src: url("../assets/fonts/Apertura-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Apertura-Bold.woff") format("woff"),
    url("../assets/fonts/Apertura-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apertura MdCn";
  src: url("../assets/fonts/Apertura-MediumCondensed.eot");
  src: url("../assets/fonts/Apertura-MediumCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Apertura-MediumCondensed.woff") format("woff"),
    url("../assets/fonts/Apertura-MediumCondensed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Espander";
  src: url("../assets/fonts/EspanderItalic-Italic.eot");
  src: url("../assets/fonts/EspanderItalic-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/EspanderItalic-Italic.woff") format("woff"),
    url("../assets/fonts/EspanderItalic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: 290 19% 42%;
  --green: 190 77% 28%;
  --orange: 16 71% 69%;
  --flash-white: 210 10% 96%;
  --off-white: 40 49% 87%;
}

@layer base {
  body {
    @apply font-apertura text-pink  min-w-80;
  }

  h1,
  .h1 {
    @apply text-4xl lg:text-7xl text-offWhite -tracking-[0.063em];
  }
  h2,
  .h2 {
    @apply text-[1.375rem] lg:text-[2.75rem] lg:leading-10 font-normal -tracking-[0.063em];
  }
  h3,
  .h3 {
    @apply text-xl lg:text-[2.625rem] lg:leading-9 text-offWhite font-normal;
  }

  h5,
  .h5 {
    @apply text-[0.938rem] lg:text-3xl font-medium tracking-wider;
  }
}

@layer utilities {
  .container {
    @apply px-6 max-w-[74.375rem] mx-auto;
  }
}
